body {
  background-color: black;
}

@media (min-width : 900px) {
  .box_body {
    min-width: 320px !important;
  }
}

.box_control {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}

.box_body {
  z-index: 2;
  position: fixed;
  right: 2.723em;
  bottom: 0px;
  border-width: 0px;
  border-style: solid;
  border-radius: 8px 8px 0px 0px;
  min-width: 50%;
  background-color: rgb(56, 60, 69);
  border-color: rgb(111, 112, 112);
  color: rgb(202, 206, 214);
  background-repeat: repeat;
  padding: 10px;
  box-shadow: rgba(118, 125, 144, 0.75) 0px 0px 12px 10px;
}

#box_options {
  display: flex;
  justify-content: space-around;
}

#box_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
